/* ------------------------------------------------------------ Editorial formatting */
.edtimg, .edtimg3 {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none
}

.edtimg, .edtimg3, .picture > a > div {
  pointer-events: none
}

.edtimg {
  display: flex;
  margin-bottom: 6px;
  user-select: none
}

.edtimg2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between
}

.edtimg3 {
  max-width: 100%;
  height: auto;
  width: auto;
  padding: auto;
  user-select: none
}

.edtimg2 a, .edtimg4 a {
  cursor: pointer
}

.banner {
  background-color: #007fc8;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
  width: 80%;
  letter-spacing: 5px;
  margin-bottom: 45px
}

.edtprt {
  float: left;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-top: -7px;
  width: 190px;
  height: 260px
}

.pgnb, .pgnb2 {
  font-size: 70px;
  float: left;
  line-height: 28px;
  padding-right: 10px
}

.pgnb {
  padding-top: 75px
}

.pgnb2 {
  padding-top: 20px
}

#edttxt {
  text-align: left;
  padding: 30px;
  margin: 10px
}

/* ------------------------------------------------------------ picture view */

.picture {
  width: 100%;
  height: 100%;
  top: -100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: .3s linear;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  z-index: 10
}

.picture > a > div {
  width: 100%;
  height: 100%;
  cursor: default
}

.picture-close, #seitenzahl > li > a {
  text-decoration: none;
  cursor: pointer
}

.picture img {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 3px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .7);
  max-height: 0%;
  max-width: 0;
  text-align: center;
  line-height: 6500%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.picture:target {
  opacity: 1;
  top: 0;
  bottom: 0
}

.picture:target img {
  max-height: 100%;
  max-width: 100%
}

.picture:target a.picture-close {
  top: 0
}

.picture-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.picture-close:hover {
  background: rgba(255, 255, 255, .8)
}

.picture-close:after, .picture-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: #000;
  position: absolute;
  left: 26px;
  top: 10px
}

.picture-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.picture-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

/* ------------------------------------------------------------ pageswitch */

#seitenzahl {
  padding: 10px 20px 20px;
  margin: 10px;
  right: 0;
  font-size: 24px
}

@media screen and (max-device-width: 400px) {
  #seitenzahl {
    font-size: 80px
  }
}

#seitenzahl > li {
  display: inline-block
}

#seitenzahl > li > a {
  color: #666;
  font-weight: 700;
  transition: color 50ms linear;
  -webkit-transition: color 50ms linear;
  -moz-transition: color 50ms linear
}

#seitenzahl > li > a:hover {
  color: #888
}

#seitenzahl > .active > a {
  color: #aaa
}

#seitenzahl > .active > a:hover {
  color: #888
}

#includedcontent {
  margin-bottom: 100px;
  width: 1000px;
  margin-left: 0
}